@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 13% 18%; /* #222831 */
    --foreground: 210 40% 98%; /* #EEEEEE */
    --card: 220 9% 23%; /* #393E46 */
    --card-foreground: 210 40% 98%; /* #EEEEEE */
    --popover: 220 9% 23%; /* #393E46 */
    --popover-foreground: 210 40% 98%; /* #EEEEEE */
    --primary: 183 100% 36%; /* #00ADB5 */
    --primary-foreground: 210 40% 98%; /* #EEEEEE */
    --secondary: 220 9% 23%; /* #393E46 */
    --secondary-foreground: 210 40% 98%; /* #EEEEEE */
    --muted: 220 9% 28%; /* #414853 */
    --muted-foreground: 210 40% 98%; /* #EEEEEE */
    --accent: 183 100% 36%; /* #00ADB5 */
    --accent-foreground: 210 40% 98%; /* #EEEEEE */
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 9% 28%; /* #414853 */
    --input: 220 9% 23%; /* #393E46 */
    --ring: 183 100% 36%; /* #00ADB5 */
    --chart-1: 183 100% 36%;
    --chart-2: 210 40% 98%;
    --chart-3: 220 9% 23%;
    --chart-4: 183 100% 45%;
    --chart-5: 210 40% 80%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 18%; /* #222831 */
    --foreground: 210 40% 98%; /* #EEEEEE */
    --card: 220 9% 23%; /* #393E46 */
    --card-foreground: 210 40% 98%; /* #EEEEEE */
    --popover: 220 9% 23%; /* #393E46 */
    --popover-foreground: 210 40% 98%; /* #EEEEEE */
    --primary: 183 100% 36%; /* #00ADB5 */
    --primary-foreground: 210 40% 98%; /* #EEEEEE */
    --secondary: 220 9% 23%; /* #393E46 */
    --secondary-foreground: 210 40% 98%; /* #EEEEEE */
    --muted: 220 9% 28%; /* #414853 */
    --muted-foreground: 210 40% 80%;
    --accent: 183 100% 36%; /* #00ADB5 */
    --accent-foreground: 210 40% 98%; /* #EEEEEE */
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 9% 28%; /* #414853 */
    --input: 220 9% 23%; /* #393E46 */
    --ring: 183 100% 36%; /* #00ADB5 */
    --chart-1: 183 100% 36%;
    --chart-2: 210 40% 98%;
    --chart-3: 220 9% 23%;
    --chart-4: 183 100% 45%;
    --chart-5: 210 40% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
