@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --header-background: 217 33% 17%;
  }
  .dark {
    --background: 0 0% 0%; /* black */
    --foreground: 0 0% 98%; /* white */
    --card: 217 33% 17%; /* navy blue */
    --card-foreground: 0 0% 98%; /* white */
    --popover: 217 33% 17%; /* navy blue */
    --popover-foreground: 0 0% 98%; /* white */
    --primary: 16 100% 62%; /* deep orange */
    --primary-foreground: 0 0% 98%;
    --secondary: 176 56% 51%; /* teal */
    --secondary-foreground: 0 0% 0%;
    --muted: 217 33% 27%;
    --muted-foreground: 0 0% 63%;
    --accent: 282 44% 53%; /* magenta */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 27%;
    --input: 217 33% 27%;
    --ring: 16 100% 62%; /* deep orange */
    --chart-1: 176 56% 51%; /* teal */
    --chart-2: 282 44% 53%; /* magenta */
    --chart-3: 16 93% 59%; /* deep orange */
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --header-background: 210 29% 25%; /* dark slate gray */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
